{% extends "layout.html" %}
{% block content %}

<h3 class="text-center">List of Groceries</h3>
<hr>
<div class="container text-left">
    <div class="inputbox-add-task" id="add-task">
        <form method="POST" action="/add">
            <div class="form-group">
                <input class="form-control item" name="name" placeholder="Grocery Name" required>
                <input class="form-control item" name="duedate" placeholder="Added Date" required>
                <button class="btn btn-primary" id="todo-submit" type="submit" >Add Grocery </button>
            </div>
        </form>
    </div>
    
</div>
<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Groceries</th>
            <th>Added</th>
        </tr>
    </thead>
    <tbody>
        {% if list != "" %}
            {% for task in list %}
            <tr>
                <td>{{task[1]}}</td>
                <td>{{task[2]}}</td>

                <td>
                    <a href="/update/{{task[0]}}" class="btn btn-warning" >Update</a>
                    <a href="/delete/{{task[0]}}" class="btn btn-danger">Delete</a>
                </td>

            </tr>
            {% endfor %}
        {% endif %}
    </tbody>

</table>


{% endblock content %}